DIS-Open.Org/UIDesign/DIS/SampleData/exportsummary/exportsummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.exportsummary" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.exportsummary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="items" type="tns:items" />
  <xs:complexType name="items">
    <xs:sequence>
      <xs:element name="itemCollection" type="tns:itemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="item" type="tns:item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:attribute name="mln" type="xs:string" />
    <xs:attribute name="oempartnumber" type="xs:string" />
    <xs:attribute name="exportquantity" type="xs:double" />
  </xs:complexType>
</xs:schema>