DIS-Open.Org/src/Business/Library/Schema/ExportKeys_nonEncrypted_R5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ExportKeys_nonEncrypted_R5"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/ExportKeys_nonEncrypted_R5.xsd"
    xmlns:mstns="http://tempuri.org/ExportKeys_nonEncrypted_R5.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ExportKeyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="From" type="xs:string" />
        <xs:element name="To" type="xs:string" />
        <xs:element name="CreatedDate" type="xs:dateTime" />
        <xs:element name="Keys"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
