DIS-Open.Org/src/Business/Library/Schema/ExportKeys_nonEncrypted.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ExportKeys_nonEncrypted"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/ExportKeys_nonEncrypted.xsd"
    xmlns:mstns="http://tempuri.org/ExportKeys_nonEncrypted.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ExportKeyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UserName" type="xs:string" />
        <xs:element name="AccessKey" type="xs:string" />
        <xs:element name="CreatedDate" type="xs:dateTime" />
        <xs:element name="Keys"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
