ManufacturingPlatform/Test-DISConfigurationCloudServices/Service References/DISConfigurationCloudServiceReference/DISConfigurationCloud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DISConfigurationCloud.MetaManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DISConfigurationCloud.MetaManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Configurations" nillable="true" type="tns:ArrayOfConfiguration" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Configuration" nillable="true" type="tns:Configuration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfiguration" nillable="true" type="tns:ArrayOfConfiguration" />
  <xs:complexType name="Configuration">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigurationType" type="tns:ConfigurationType" />
      <xs:element minOccurs="0" name="DbConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Configuration" nillable="true" type="tns:Configuration" />
  <xs:simpleType name="ConfigurationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OEM" />
      <xs:enumeration value="TPI" />
      <xs:enumeration value="FactoryFloor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConfigurationType" nillable="true" type="tns:ConfigurationType" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
</xs:schema>