DIS-Open.Org/UIDesign/DIS/SampleData/OrderList/OrderList.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.OrderList" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.OrderList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Orders" type="tns:Orders" />
  <xs:complexType name="Orders">
    <xs:sequence>
      <xs:element name="OrderCollection" type="tns:OrderCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Order" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element name="OrderCollection" type="tns:OrderCollection" />
    </xs:sequence>
    <xs:attribute name="oemreferencenumber" type="xs:string" />
    <xs:attribute name="soldto" type="xs:string" />
    <xs:attribute name="shipto" type="xs:string" />
    <xs:attribute name="orderdate" type="xs:string" />
    <xs:attribute name="msordernumber" type="xs:string" />
    <xs:attribute name="contractnumber" type="xs:double" />
    <xs:attribute name="oemponumber" type="xs:string" />
    <xs:attribute name="oempodate" type="xs:string" />
    <xs:attribute name="status" type="xs:string" />
    <xs:attribute name="errordetails" type="xs:string" />
  </xs:complexType>
</xs:schema>