DIS-Open.Org/UIDesign/DIS/SampleData/OrderDetails/OrderDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.OrderDetails" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.OrderDetails" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Orders" type="tns:Orders" />
  <xs:complexType name="Orders">
    <xs:sequence>
      <xs:element name="OrderCollection" type="tns:OrderCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Order" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Order">
    <xs:attribute name="mspartnumber" type="xs:string" />
    <xs:attribute name="oempartnumber" type="xs:string" />
    <xs:attribute name="itemname" type="xs:string" />
    <xs:attribute name="quantity" type="xs:double" />
    <xs:attribute name="requestedshipdate" type="xs:string" />
    <xs:attribute name="fulfilleddate" type="xs:string" />
  </xs:complexType>
</xs:schema>