DIS-Open.Org/src/Business/Proxy/Schema/OA3ToolReportKey.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="OA3ToolReportKey"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/OA3ToolReportKey.xsd"
    xmlns:mstns="http://tempuri.org/OA3ToolReportKey.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="Key">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProductKeyID"  type="xs:long"></xs:element>
        <xs:element name="ProductKeyState"  type="xs:integer"></xs:element>
        <xs:element name="HardwareHash"  type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
