DIS-Open.Org/UIDesign/DIS/SampleData/validatereport/validatereport.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.validatereport" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.validatereport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="keys" type="tns:keys" />
  <xs:complexType name="keys">
    <xs:sequence>
      <xs:element name="keyCollection" type="tns:keyCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="keyCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="key" type="tns:key" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="key">
    <xs:attribute name="productkey" type="xs:string" />
    <xs:attribute name="keystatus" type="xs:string" />
    <xs:attribute name="validateresult" type="xs:string" />
    <xs:attribute name="description" type="xs:string" />
  </xs:complexType>
</xs:schema>