DIS-Open.Org/src/Presentation/KMT/Validation/Schemas/KeyInformation.xsd

<?xml version="1.0"?>
<xs:schema id="ArrayOfTransferKey" xmlns="http://tempuri.org/KeyInformation.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mstns="http://tempuri.org/KeyInformation.xsd">
  <xs:element name="ArrayOfTransferKey">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="TransferKey">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProductKeyId" type="xs:string" minOccurs="0" />
              <xs:element name="ProductKeyStateId" type="xs:string" minOccurs="0" />
              <xs:element name="ProductKeyState" type="xs:string" minOccurs="0" />
              <xs:element name="ProductKey" type="xs:string" minOccurs="0" />
              <xs:element name="OemAdditionalInfo" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="HardwareId" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="OrderID" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="EndItemPartNumber" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="OEMPartNumber" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="BusinessName" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="OrderUniqueID" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="CustomerNumber" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="ReferenceNumber" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="OEMPONumber" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="OEMLineItemNumber" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="MSOrderNumber" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="MSLineNumber" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="ContractNumber" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="Quantity" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="OrderTypeID" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="LicensablePartNumber" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="SKUID" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="ReturnReasonCode" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="CreatedBy" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="CreatedDate" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="ModifiedBy" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="ModifiedDate" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="BeginningProductKeyID" type="xs:string" minOccurs="0" nillable="true" />
              <xs:element name="EndingProductKeyID" type="xs:string" minOccurs="0" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>