DIS-Open.Org/UIDesign/DIS/SampleData/OrderLineItems/OrderLineItems.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.OrderLineItems" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.OrderLineItems" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Items" type="tns:Items" />
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element name="ItemCollection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="mspartnumber" type="xs:string" />
    <xs:attribute name="oempartnumber" type="xs:string" />
    <xs:attribute name="quantity" type="xs:double" />
    <xs:attribute name="requestedshipdate" type="xs:string" />
  </xs:complexType>
</xs:schema>