DIS-Open.Org/UIDesign/DIS/SampleData/Users/Users.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.Users" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Users" type="tns:Users" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element name="UserCollection" type="tns:UserCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="User" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="User">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="alias" type="xs:string" />
    <xs:attribute name="roles" type="xs:string" />
    <xs:attribute name="addeddate" type="xs:string" />
    <xs:attribute name="firstname" type="xs:string" />
    <xs:attribute name="secondname" type="xs:string" />
    <xs:attribute name="email" type="xs:string" />
    <xs:attribute name="thumbnail" type="xs:string" />
    <xs:attribute name="phone" type="xs:double" />
    <xs:attribute name="department" type="xs:string" />
  </xs:complexType>
</xs:schema>