DIS-Open.Org/UIDesign/DIS/SampleData/SearchPartList/SearchPartList.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SearchPartList" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SearchPartList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Parts" type="tns:Parts" />
  <xs:complexType name="Parts">
    <xs:sequence>
      <xs:element name="PartCollection" type="tns:PartCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Part" type="tns:Part" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Part">
    <xs:attribute name="mspartname" type="xs:string" />
    <xs:attribute name="mspartnumber" type="xs:string" />
    <xs:attribute name="oempartname" type="xs:string" />
    <xs:attribute name="oempartnumber" type="xs:string" />
  </xs:complexType>
</xs:schema>