DIS-Open.Org/UIDesign/DIS/SampleData/KeyList/KeyList.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.KeyList" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.KeyList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Keys" type="tns:Keys" />
  <xs:complexType name="Keys">
    <xs:sequence>
      <xs:element name="KeyCollection" type="tns:KeyCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KeyCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Key" type="tns:Key" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Key">
    <xs:attribute name="productkeyid" type="xs:double" />
    <xs:attribute name="productkey" type="xs:string" />
    <xs:attribute name="mspartnumber" type="xs:string" />
    <xs:attribute name="oempartnumber" type="xs:string" />
    <xs:attribute name="status" type="xs:string" />
    <xs:attribute name="hardwareid" type="xs:string" />
    <xs:attribute name="modifieddate" type="xs:string" />
  </xs:complexType>
</xs:schema>